@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(12, 14, 40);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Scrollbar Styles */
.overflow-y-auto {
  scrollbar-width: large;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

.overflow-y-auto::-webkit-scrollbar {
  width: 9px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: transparent;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.animated-border-blue {
  position: relative;
  padding: 0.15rem;
  border-radius: 0.75rem;
  background: transparent;
}

.animated-border-blue::before {
  content: '';
  position: absolute;
  inset: 0;
  border: 0.15rem solid transparent;
  border-radius: 0.75rem;
  border-color: rgba(73, 55, 189, 0.75);
  background: linear-gradient(var(--gradient-angle), #ffffff00, #ffffff)
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0) border-box;
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0) border-box;
  mask-composite: exclude;
  animation: gradient-rotate 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

.animated-border-red {
  position: relative;
  padding: 0.15rem;
  border-radius: 0.75rem;
  background: transparent;
}

.animated-border-red::before {
  content: '';
  position: absolute;
  inset: 0;
  border: 0.15rem solid transparent;
  border-radius: 0.75rem;
  border-color: rgba(189, 55, 55, 0.75);
  background: linear-gradient(var(--gradient-angle), #ffffff00, #ffffff)
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0) border-box;
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0) border-box;
  mask-composite: exclude;
  animation: gradient-rotate 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
}

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes gradient-rotate {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.animated-border > * {
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
}
